In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pydataset import data

In [3]:
iris=data('iris')
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [9]:
#first three rows
df_iris=iris
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [10]:
#shape
df_iris.shape

(150, 5)

In [15]:
#column names
df_iris.count()

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [17]:
#datatpes
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [18]:
# print the summary statistics for each of the numeric variables
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
# Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

# Make sure that the spreadsheet is publicly visible under your sharing settings.

In [ ]:
# sheet_url = 'https://docs.google.com/spreadsheets/d/14het2fxK23FOO6jPAzZlalb__gz6EiZuYpFTDxGuIRA/edit?usp=sharing'    

# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

# df_googlesheet = pd.read_csv(csv_export_url)
# df_googlesheet.head()

In [21]:
df_googlesheet = pd.read_csv('spreadsheet_exercises_TimK.csv')
df_googlesheet.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,calculated_montly_charges,validate,phone_service_type,internet_service_type,contract_type.1,rounded_tenure,service_type
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,...,True,True,3,65.6,TRUE,One Line,DSL,1 Year,9.0,Interent_and_Phone
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,...,True,True,0,59.9,TRUE,Two or More Lines,DSL,Month-to-Month,9.0,Interent_and_Phone
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,...,True,True,0,73.9,TRUE,One Line,Fiber Optic,Month-to-Month,4.0,Interent_and_Phone
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,...,True,True,1,98,TRUE,One Line,Fiber Optic,Month-to-Month,13.0,Interent_and_Phone
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,...,True,True,1,83.9,TRUE,One Line,Fiber Optic,Month-to-Month,3.0,Interent_and_Phone

In [ ]:
# assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [25]:
df_google_sheets_sample = df_googlesheet.head(100)
df_google_sheets_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                100 non-null    object
 1   gender                     100 non-null    object
 2   is_senior_citizen          100 non-null    int64
 3   partner                    100 non-null    object
 4   dependents                 100 non-null    object
 5   phone_service              100 non-null    int64
 6   internet_service           100 non-null    int64
 7   contract_type              100 non-null    int64
 8   payment_type               100 non-null    object
 9   monthly_charges            100 non-null    float64
 10  total_charges              100 non-null    float64
 11  churn                      100 non-null    object
 12  tenure                     100 non-null    float64
 13  is_female                  100 non-null    bool
 14  has_churned                100 non-null    bool
 15  has_phone                  100 non-null    bool
 16  has_internet               100 non-null    bool
 17  has_phone_and_internet     100 non-null    bool
 18  partner_dependents         100 non-null    int64
 19  calculated_montly_charges  100 non-null    object
 20  validate                   100 non-null    object
 21  phone_service_type         100 non-null    object
 22  internet_service_type      100 non-null    object
 23  contract_type.1            100 non-null    object
 24  rounded_tenure             100 non-null    float64
 25  service_type               100 non-null    object
dtypes: bool(5), float64(4), int64(5), object(12)
memory usage: 17.0+ KB

In [26]:
# print the number of rows of your original dataframe
df_googlesheet.shape

(7049, 26)

In [27]:
# print the first 5 column names
# Select first N columns
# first_n_column  = df.iloc[: , :N]

print(df_googlesheet.iloc[: , :5])

#or df_googlesheet.columns[0:5]

     customer_id  gender  is_senior_citizen partner dependents
0     0002-ORFBO  Female                  0     Yes        Yes
1     0003-MKNFE    Male                  0      No         No
2     0004-TLHLJ    Male                  0      No         No
3     0011-IGKFF    Male                  1     Yes         No
4     0013-EXCHZ  Female                  1     Yes         No
...          ...     ...                ...     ...        ...
7044  9987-LUTYD  Female                  0      No         No
7045  9992-RRAMN    Male                  0     Yes         No
7046  9992-UJOEL    Male                  0      No         No
7047  9993-LHIEB    Male                  0     Yes        Yes
7048  9995-HOTOH    Male                  0     Yes        Yes

[7049 rows x 5 columns]

In [ ]:
# print the column names that have a data type of object

In [32]:
df_googlesheet.select_dtypes(include='object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn', 'calculated_montly_charges', 'validate', 'phone_service_type',
       'internet_service_type', 'contract_type.1', 'service_type'],
      dtype='object')

In [ ]:
# compute the range for each of the numeric variables.
#could use df_googlesheet.select_dtypes(include=['int64', 'float64']).describe()

In [34]:
df_googlesheet.select_dtypes(include=['int64', 'float64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   is_senior_citizen   7049 non-null   int64
 1   phone_service       7049 non-null   int64
 2   internet_service    7049 non-null   int64
 3   contract_type       7049 non-null   int64
 4   monthly_charges     7049 non-null   float64
 5   total_charges       7038 non-null   float64
 6   tenure              7049 non-null   float64
 7   partner_dependents  7049 non-null   int64
 8   rounded_tenure      7049 non-null   float64
dtypes: float64(4), int64(5)
memory usage: 495.8 KB

In [43]:
dfgooglesheetrange=(df_googlesheet.select_dtypes(include=['int64', 'float64']).max() - df_googlesheet.select_dtypes(include=['int64', 'float64']).min())
dfgooglesheetrange

is_senior_citizen        1.0
phone_service            2.0
internet_service         2.0
contract_type            2.0
monthly_charges        100.5
total_charges         8666.0
tenure                  79.3
partner_dependents       3.0
rounded_tenure          79.0
dtype: float64

In [ ]:
# Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). 
#Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [48]:
df_excel = pd.read_excel('spreadsheet_exercises.xlsx', index_col=0) 
df_excel.head()

,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
customer_id,,,,,,,,,,,,
0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [50]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)

In [51]:
# print the number of rows of your original dataframe
df_excel.shape

(7049, 12)

In [52]:
# print the first 5 column names
df_excel.columns[0:5]

Index(['gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service'],
      dtype='object')

In [53]:
# print the column names that have a data type of object
df_excel.select_dtypes(include='object').columns

Index(['gender', 'partner', 'dependents', 'payment_type', 'churn'], dtype='object')

In [54]:
# compute the range for each of the numeric variables.
dfexcelsheetrange=(df_googlesheet.select_dtypes(include=['int64', 'float64']).max() - df_googlesheet.select_dtypes(include=['int64', 'float64']).min())
dfexcelsheetrange

is_senior_citizen        1.0
phone_service            2.0
internet_service         2.0
contract_type            2.0
monthly_charges        100.5
total_charges         8666.0
tenure                  79.3
partner_dependents       3.0
rounded_tenure          79.0
dtype: float64

In [ ]:
https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing

In [ ]:
https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing

In [64]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'

In [65]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [66]:
df_google = pd.read_csv(csv_export_url)
df_google.head()
#ParserError: Error tokenizing data. C error: Expected 12 fields in line 5, saw 13 dont know why

ParserError: Error tokenizing data. C error: Expected 12 fields in line 5, saw 13

In [ ]:
# print the first 3 rows
df_google.head(3)

In [ ]:
# print the number of rows and columns
df_google.shape()

In [68]:
# print the column names
print(df_google.columns)

Index(['<!DOCTYPE html><html lang="en-US"><head><script nonce="i0TBpmn4aiHVcUIciBdelw">var DOCS_timing={}; DOCS_timing['pls']=new Date().getTime();</script><meta property="og:title" content="train"><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing&amp;usp=embed_facebook"><meta property="og:image" content="https://lh5.googleusercontent.com/FR0QyCiOqQwNwruoUOT0jR0hnFs133asqkliK0Fi5TAVwYOLBDaE5Ccwx87Xgg0UFrLZdmEMTOEolg=w1200-h630-p"><meta property="og:image:width" content="1200"><meta property="og:image:height" content="630"><meta property="og:description" content="train'], dtype='object')

In [ ]:
# print the data type of each column
df.google.info()

In [ ]:
# print the summary statistics for each of the numeric variables
df.google.describe()

In [ ]:
# print the unique values for each of your categorical variables
df.google.value_counts()