In [1]:
import pandas as pd
import numpy as np
import os

# visualize
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('figure', figsize=(8, 6))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password
from pydataset import data

In [2]:
iris=data('iris')
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [3]:
#first three rows
df_iris=iris
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
#shape
df_iris.shape

(150, 5)

In [5]:
#column names
df_iris.count()

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [6]:
#datatpes
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [7]:
# print the summary statistics for each of the numeric variables
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
# Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

# Make sure that the spreadsheet is publicly visible under your sharing settings.

In [9]:
# sheet_url = 'https://docs.google.com/spreadsheets/d/14het2fxK23FOO6jPAzZlalb__gz6EiZuYpFTDxGuIRA/edit?usp=sharing'    

# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

# df_googlesheet = pd.read_csv(csv_export_url)
# df_googlesheet.head()

In [10]:
df_googlesheet = pd.read_csv('spreadsheet_exercises_TimK.csv')
df_googlesheet.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependents,calculated_montly_charges,validate,phone_service_type,internet_service_type,contract_type.1,rounded_tenure,service_type
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,...,True,True,3,65.6,TRUE,One Line,DSL,1 Year,9.0,Interent_and_Phone
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,...,True,True,0,59.9,TRUE,Two or More Lines,DSL,Month-to-Month,9.0,Interent_and_Phone
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,...,True,True,0,73.9,TRUE,One Line,Fiber Optic,Month-to-Month,4.0,Interent_and_Phone
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,...,True,True,1,98,TRUE,One Line,Fiber Optic,Month-to-Month,13.0,Interent_and_Phone
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,...,True,True,1,83.9,TRUE,One Line,Fiber Optic,Month-to-Month,3.0,Interent_and_Phone

In [11]:
# assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [12]:
df_google_sheets_sample = df_googlesheet.head(100)
df_google_sheets_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                100 non-null    object
 1   gender                     100 non-null    object
 2   is_senior_citizen          100 non-null    int64
 3   partner                    100 non-null    object
 4   dependents                 100 non-null    object
 5   phone_service              100 non-null    int64
 6   internet_service           100 non-null    int64
 7   contract_type              100 non-null    int64
 8   payment_type               100 non-null    object
 9   monthly_charges            100 non-null    float64
 10  total_charges              100 non-null    float64
 11  churn                      100 non-null    object
 12  tenure                     100 non-null    float64
 13  is_female                  100 non-null    bool
 14  has_churned                100 non-null    bool
 15  has_phone                  100 non-null    bool
 16  has_internet               100 non-null    bool
 17  has_phone_and_internet     100 non-null    bool
 18  partner_dependents         100 non-null    int64
 19  calculated_montly_charges  100 non-null    object
 20  validate                   100 non-null    object
 21  phone_service_type         100 non-null    object
 22  internet_service_type      100 non-null    object
 23  contract_type.1            100 non-null    object
 24  rounded_tenure             100 non-null    float64
 25  service_type               100 non-null    object
dtypes: bool(5), float64(4), int64(5), object(12)
memory usage: 17.0+ KB

In [13]:
# print the number of rows of your original dataframe
df_googlesheet.shape

(7049, 26)

In [14]:
# print the first 5 column names
# Select first N columns
# first_n_column  = df.iloc[: , :N]

print(df_googlesheet.iloc[: , :5])

#or df_googlesheet.columns[0:5]

     customer_id  gender  is_senior_citizen partner dependents
0     0002-ORFBO  Female                  0     Yes        Yes
1     0003-MKNFE    Male                  0      No         No
2     0004-TLHLJ    Male                  0      No         No
3     0011-IGKFF    Male                  1     Yes         No
4     0013-EXCHZ  Female                  1     Yes         No
...          ...     ...                ...     ...        ...
7044  9987-LUTYD  Female                  0      No         No
7045  9992-RRAMN    Male                  0     Yes         No
7046  9992-UJOEL    Male                  0      No         No
7047  9993-LHIEB    Male                  0     Yes        Yes
7048  9995-HOTOH    Male                  0     Yes        Yes

[7049 rows x 5 columns]

In [15]:
# print the column names that have a data type of object

In [16]:
df_googlesheet.select_dtypes(include='object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn', 'calculated_montly_charges', 'validate', 'phone_service_type',
       'internet_service_type', 'contract_type.1', 'service_type'],
      dtype='object')

In [17]:
# compute the range for each of the numeric variables.
#could use df_googlesheet.select_dtypes(include=['int64', 'float64']).describe()

In [18]:
df_googlesheet.select_dtypes(include=['int64', 'float64']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   is_senior_citizen   7049 non-null   int64
 1   phone_service       7049 non-null   int64
 2   internet_service    7049 non-null   int64
 3   contract_type       7049 non-null   int64
 4   monthly_charges     7049 non-null   float64
 5   total_charges       7038 non-null   float64
 6   tenure              7049 non-null   float64
 7   partner_dependents  7049 non-null   int64
 8   rounded_tenure      7049 non-null   float64
dtypes: float64(4), int64(5)
memory usage: 495.8 KB

In [19]:
dfgooglesheetrange=(df_googlesheet.select_dtypes(include=['int64', 'float64']).max() - df_googlesheet.select_dtypes(include=['int64', 'float64']).min())
dfgooglesheetrange

is_senior_citizen        1.0
phone_service            2.0
internet_service         2.0
contract_type            2.0
monthly_charges        100.5
total_charges         8666.0
tenure                  79.3
partner_dependents       3.0
rounded_tenure          79.0
dtype: float64

In [20]:
# Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). 
#Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [21]:
df_excel = pd.read_excel('spreadsheet_exercises.xlsx', index_col=0) 
df_excel.head()

,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
customer_id,,,,,,,,,,,,
0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [22]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)

In [23]:
# print the number of rows of your original dataframe
df_excel.shape

(7049, 12)

In [24]:
# print the first 5 column names
df_excel.columns[0:5]

Index(['gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service'],
      dtype='object')

In [25]:
# print the column names that have a data type of object
df_excel.select_dtypes(include='object').columns

Index(['gender', 'partner', 'dependents', 'payment_type', 'churn'], dtype='object')

In [26]:
# compute the range for each of the numeric variables.
dfexcelsheetrange=(df_googlesheet.select_dtypes(include=['int64', 'float64']).max() - df_googlesheet.select_dtypes(include=['int64', 'float64']).min())
dfexcelsheetrange

is_senior_citizen        1.0
phone_service            2.0
internet_service         2.0
contract_type            2.0
monthly_charges        100.5
total_charges         8666.0
tenure                  79.3
partner_dependents       3.0
rounded_tenure          79.0
dtype: float64

In [27]:
# https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing

In [28]:
# https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing

In [29]:
import os

In [30]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [31]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [32]:
df_google = pd.read_csv(csv_export_url)
df_google.head()
#ParserError: Error tokenizing data. C error: Expected 12 fields in line 5, saw 13 dont know why

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
# print the first 3 rows
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [34]:
# print the number of rows and columns
df_google.shape

(891, 12)

In [35]:
# print the column names
print(df_google.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [36]:
# print the data type of each column
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [37]:
# print the summary statistics for each of the numeric variables
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [38]:
# print the unique values for each of your categorical variables
df_google.value_counts()

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [39]:
# acquire.py Functions
# Make a function named get_titanic_data that returns the titanic data from the codeup data science database 
# as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [40]:
#function uses info from env.py file to create a connection url to access db

def get_connection(db, user=user, host=host, password=password):
    
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [41]:
#titanic data set func
def new_titanic_data():
    sql_query = 'SELECT * FROM passengers'
    #sql query
    df = pd.read_sql(sql_query, get_connection('titanic_db')) 
    #read in data frame
    return df

In [42]:
#reads titanic data from codeup db, writes to a csv file if it doesnt exist and returns a df
def get_titanic_data():
    
    if os.path.isfile('titanic_df.csv'):
        
        df = pd.read_csv('titanic_df.csv', index_col=0)
        #if csv file exists read data in from csv
    
    else:
    #read fresh data from db into df
        
        df = new_titanic_data()
    #wrote df to csv
        
        df.to_csv('titanic_df.csv')
    
    return df

In [43]:
titanic_df = get_titanic_data()

In [44]:
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [ ]:
# Make a function named get_iris_data that returns the data from the iris_db on the codeup data science 
# database as a pandas DataFrame. The returned DataFrame should include the actual name of the species in 
# addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [59]:
#reads iris data
def new_iris_data():
    
    sql_query = """
                SELECT
                    species_id,
                    species_name,
                    sepal_length,
                    sepal_width,
                    petal_length,
                    petal_width
                FROM measurements
                JOIN species USING (species_id)
                """
    
    #read in df from codeup db
    df = pd.read_sql(sql_query, get_connection('iris_db'))
    
    return df

In [60]:
#reads in iris data from db, writes data to csv if no local file exists, returns a df
def get_iris_data():
    
    if os.path.isfile('iris_df.csv'):
        #if csv exists read in data
        df = pd.read_csv('iris_df.csv', index_col=0)
    
    else:
        #read in fresh data from db to df
        df = new_iris_data()
        #cache data
        df.to_csv('iris_df.csv')
        
    return df

In [61]:
iris_df = get_iris_data()
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [ ]:
# Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, 
# be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and 
# internet service options. Obtain your data from the Codeup Data Science Database.

In [63]:
def new_telco_data():
    
    sql_query = """
                SELECT * FROM customers
                JOIN contract_types using (contract_type_id)
                JOIN internet_service_types using (internet_service_type_id)
                JOIN payment_types using (payment_type_id)
                """
    
    df = pd.read_sql(sql_query, get_connection('telco_churn'))
    
    return df

In [64]:
def get_telco_data():
    
    if os.path.isfile('telco.csv'):
        
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        df = new_telco_data()
        
        df.to_csv('telco.csv')
        
    return df

In [65]:
get_telco_data()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [ ]:
# Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to 
# add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, 
# titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas 
# necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [ ]:
# Using the Iris Data:

# Use the function defined in acquire.py to load the iris data.

# Drop the species_id and measurement_id columns.

# Rename the species_name column to just species.

# Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice,
# we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

# Create a function named prep_iris that accepts the untransformed iris data, 
# and returns the data with the transformations above applied.

In [94]:

iris_df = get_iris_data()

In [95]:
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [96]:
# Drop the species_id and measurement_id columns.
iris_df= iris_df.drop(['species_id'], axis=1)

In [97]:
# Rename the species_name column to just species.
iris_df = iris_df.rename(columns={"species_name": "species"})

In [98]:
iris_df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [105]:
# Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice,
# we don't always have to encode the target, but if we used species as a feature, we would need to encode it).
dummy_df = pd.get_dummies(iris_df[['species']],drop_first=[True])
dummy_df

     species_versicolor  species_virginica
0                     0                  0
1                     0                  0
2                     0                  0
3                     0                  0
4                     0                  0
5                     0                  0
6                     0                  0
7                     0                  0
8                     0                  0
9                     0                  0
10                    0                  0
11                    0                  0
12                    0                  0
13                    0                  0
14                    0                  0
15                    0                  0
16                    0                  0
17                    0                  0
18                    0                  0
19                    0                  0
20                    0                  0
21                    0                  0
22                    0                  0
23                    0                  0
24                    0                  0
25                    0                  0
26                    0                  0
27                    0                  0
28                    0                  0
29                    0                  0
30                    0                  0
31                    0                  0
32                    0                  0
33                    0                  0
34                    0                  0
35                    0                  0
36                    0                  0
37                    0                  0
38                    0                  0
39                    0                  0
40                    0                  0
41                    0                  0
42                    0                  0
43                    0                  0
44                    0                  0
45                    0                  0
46                    0                  0
47                    0                  0
48                    0                  0
49                    0                  0
50                    1                  0
51                    1                  0
52                    1                  0
53                    1                  0
54                    1                  0
55                    1                  0
56                    1                  0
57                    1                  0
58                    1                  0
59                    1                  0
60                    1                  0
61                    1                  0
62                    1                  0
63                    1                  0
64                    1                  0
65                    1                  0
66                    1                  0
67                    1                  0
68                    1                  0
69                    1                  0
70                    1                  0
71                    1                  0
72                    1                  0
73                    1                  0
74                    1                  0
75                    1                  0
76                    1                  0
77                    1                  0
78                    1                  0
79                    1                  0
80                    1                  0
81                    1                  0
82                    1                  0
83                    1                  0
84                    1                  0
85                    1                  0
86                    1                  0
87                    1                  0
88                    1                  0
89                    1                  0
90                    1                  0
91                    1                  0
92                    1                  0
93                    1                  0
94                    1                  0
95                    1                  0
96                    1                  0
97                    1                  0
98                    1                  0
99                    1                  0
100                   0                  1
101                   0                  1
102                   0                  1
103                   0                  1
104                   0                  1
105                   0                  1
106                   0                  1
107                   0                  1
108                   0                  1
109                   0                  1
110                   0                  1
111                   0                  1
112                   0                  1
113                   0                  1
114                   0                  1
115                   0                  1
116                   0                  1
117                   0                  1
118                   0                  1
119                   0                  1
120                   0                  1
121                   0                  1
122                   0                  1
123                   0                  1
124                   0                  1
125                   0                  1
126                   0                  1
127                   0                  1
128                   0                  1
129                   0                  1
130                   0                  1
131                   0                  1
132                   0                  1
133                   0                  1
134                   0                  1
135                   0                  1
136                   0                  1
137                   0                  1
138                   0                  1
139                   0                  1
140                   0                  1
141                   0                  1
142                   0                  1
143                   0                  1
144                   0                  1
145                   0                  1
146                   0                  1
147                   0                  1
148                   0                  1
149                   0                  1

In [106]:
iris_df = pd.concat([iris_df, dummy_df], axis=1)

In [107]:
iris_df.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0

In [ ]:
# Create a function named prep_iris that accepts the untransformed iris data, 
# and returns the data with the transformations above applied.

In [110]:
def prep_iris(get_iris_data):
    iris_df = get_iris_data()
    iris_df = iris_df.drop(['species_id'], axis=1)
    iris_df = iris_df.rename(columns={"species_name": "species"})
    dummy_df = pd.get_dummies(iris_df[['species']],drop_first=[True])
    iris_df = pd.concat([iris_df, dummy_df], axis=1)
    return iris_df

In [111]:
prep_iris(get_iris_data)

,species,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
5,setosa,5.4,3.9,1.7,0.4,0,0
6,setosa,4.6,3.4,1.4,0.3,0,0
7,setosa,5.0,3.4,1.5,0.2,0,0
8,setosa,4.4,2.9,1.4,0.2,0,0
9,setosa,4.9,3.1,1.5,0.1,0,0
10,setosa,5.4,3.7,1.5,0.2,0,0
11,setosa,4.8,3.4,1.6,0.2,0,0
12,setosa,4.8,3.0,1.4,0.1,0,0
13,setosa,4.3,3.0,1.1,0.1,0,0
14,setosa,5.8,4.0,1.2,0.2,0,0
15,setosa,5.7,4.4,1.5,0.4,0,0
16,setosa,5.4,3.9,1.3,0.4,0,0
17,setosa,5.1,3.5,1.4,0.3,0,0
18,setosa,5.7,3.8,1.7,0.3,0,0
19,setosa,5.1,3.8,1.5,0.3,0,0
20,setosa,5.4,3.4,1.7,0.2,0,0
21,setosa,5.1,3.7,1.5,0.4,0,0
22,setosa,4.6,3.6,1.0,0.2,0,0
23,setosa,5.1,3.3,1.7,0.5,0,0
24,setosa,4.8,3.4,1.9,0.2,0,0
25,setosa,5.0,3.0,1.6,0.2,0,0
26,setosa,5.0,3.4,1.6,0.4,0,0
27,setosa,5.2,3.5,1.5,0.2,0,0
28,setosa,5.2,3.4,1.4,0.2,0,0
29,setosa,4.7,3.2,1.6,0.2,0,0
30,setosa,4.8,3.1,1.6,0.2,0,0
31,setosa,5.4,3.4,1.5,0.4,0,0
32,setosa,5.2,4.1,1.5,0.1,0,0
33,setosa,5.5,4.2,1.4,0.2,0,0
34,setosa,4.9,3.1,1.5,0.2,0,0
35,setosa,5.0,3.2,1.2,0.2,0,0
36,setosa,5.5,3.5,1.3,0.2,0,0
37,setosa,4.9,3.6,1.4,0.1,0,0
38,setosa,4.4,3.0,1.3,0.2,0,0
39,setosa,5.1,3.4,1.5,0.2,0,0
40,setosa,5.0,3.5,1.3,0.3,0,0
41,setosa,4.5,2.3,1.3,0.3,0,0
42,setosa,4.4,3.2,1.3,0.2,0,0
43,setosa,5.0,3.5,1.6,0.6,0,0
44,setosa,5.1,3.8,1.9,0.4,0,0
45,setosa,4.8,3.0,1.4,0.3,0,0
46,setosa,5.1,3.8,1.6,0.2,0,0
47,setosa,4.6,3.2,1.4,0.2,0,0
48,setosa,5.3,3.7,1.5,0.2,0,0
49,setosa,5.0,3.3,1.4,0.2,0,0
50,versicolor,7.0,3.2,4.7,1.4,1,0
51,versicolor,6.4,3.2,4.5,1.5,1,0
52,versicolor,6.9,3.1,4.9,1.5,1,0
53,versicolor,5.5,2.3,4.0,1.3,1,0
54,versicolor,6.5,2.8,4.6,1.5,1,0
55,versicolor,5.7,2.8,4.5,1.3,1,0
56,versicolor,6.3,3.3,4.7,1.6,1,0
57,versicolor,4.9,2.4,3.3,1.0,1,0
58,versicolor,6.6,2.9,4.6,1.3,1,0
59,versicolor,5.2,2.7,3.9,1.4,1,0
60,versicolor,5.0,2.0,3.5,1.0,1,0
61,versicolor,5.9,3.0,4.2,1.5,1,0
62,versicolor,6.0,2.2,4.0,1.0,1,0
63,versicolor,6.1,2.9,4.7,1.4,1,0
64,versicolor,5.6,2.9,3.6,1.3,1,0
65,versicolor,6.7,3.1,4.4,1.4,1,0
66,versicolor,5.6,3.0,4.5,1.5,1,0
67,versicolor,5.8,2.7,4.1,1.0,1,0
68,versicolor,6.2,2.2,4.5,1.5,1,0
69,versicolor,5.6,2.5,3.9,1.1,1,0
70,versicolor,5.9,3.2,4.8,1.8,1,0
71,versicolor,6.1,2.8,4.0,1.3,1,0
72,versicolor,6.3,2.5,4.9,1.5,1,0
73,versicolor,6.1,2.8,4.7,1.2,1,0
74,versicolor,6.4,2.9,4.3,1.3,1,0
75,versicolor,6.6,3.0,4.4,1.4,1,0
76,versicolor,6.8,2.8,4.8,1.4,1,0
77,versicolor,6.7,3.0,5.0,1.7,1,0
78,versicolor,6.0,2.9,4.5,1.5,1,0
79,versicolor,5.7,2.6,3.5,1.0,1,0
80,versicolor,5.5,2.4,3.8,1.1,1,0
81,versicolor,5.5,2.4,3.7,1.0,1,0
82,versicolor,5.8,2.7,3.9,1.2,1,0
83,versicolor,6.0,2.7,5.1,1.6,1,0
84,versicolor,5.4,3.0,4.5,1.5,1,0
85,versicolor,6.0,3.4,4.5,1.6,1,0
86,versicolor,6.7,3.1,4.7,1.5,1,0
87,versicolor,6.3,2.3,4.4,1.3,1,0
88,versicolor,5.6,3.0,4.1,1.3,1,0
89,versicolor,5.5,2.5,4.0,1.3,1,0
90,versicolor,5.5,2.6,4.4,1.2,1,0
91,versicolor,6.1,3.0,4.6,1.4,1,0
92,versicolor,5.8,2.6,4.0,1.2,1,0
93,versicolor,5.0,2.3,3.3,1.0,1,0
94,versicolor,5.6,2.7,4.2,1.3,1,0
95,versicolor,5.7,3.0,4.2,1.2,1,0
96,versicolor,5.7,2.9,4.2,1.3,1,0
97,versicolor,6.2,2.9,4.3,1.3,1,0
98,versicolor,5.1,2.5,3.0,1.1,1,0
99,versicolor,5.7,2.8,4.1,1.3,1,0
100,virginica,6.3,3.3,6.0,2.5,0,1
101,virginica,5.8,2.7,5.1,1.9,0,1
102,virginica,7.1,3.0,5.9,2.1,0,1
103,virginica,6.3,2.9,5.6,1.8,0,1
104,virginica,6.5,3.0,5.8,2.2,0,1
105,virginica,7.6,3.0,6.6,2.1,0,1
106,virginica,4.9,2.5,4.5,1.7,0,1
107,virginica,7.3,2.9,6.3,1.8,0,1
108,virginica,6.7,2.5,5.8,1.8,0,1
109,virginica,7.2,3.6,6.1,2.5,0,1
110,virginica,6.5,3.2,5.1,2.0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,1
112,virginica,6.8,3.0,5.5,2.1,0,1
113,virginica,5.7,2.5,5.0,2.0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,1
115,virginica,6.4,3.2,5.3,2.3,0,1
116,virginica,6.5,3.0,5.5,1.8,0,1
117,virginica,7.7,3.8,6.7,2.2,0,1
118,virginica,7.7,2.6,6.9,2.3,0,1
119,virginica,6.0,2.2,5.0,1.5,0,1
120,virginica,6.9,3.2,5.7,2.3,0,1
121,virginica,5.6,2.8,4.9,2.0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,1
124,virginica,6.7,3.3,5.7,2.1,0,1
125,virginica,7.2,3.2,6.0,1.8,0,1
126,virginica,6.2,2.8,4.8,1.8,0,1
127,virginica,6.1,3.0,4.9,1.8,0,1
128,virginica,6.4,2.8,5.6,2.1,0,1
129,virginica,7.2,3.0,5.8,1.6,0,1
130,virginica,7.4,2.8,6.1,1.9,0,1
131,virginica,7.9,3.8,6.4,2.0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,1
133,virginica,6.3,2.8,5.1,1.5,0,1
134,virginica,6.1,2.6,5.6,1.4,0,1
135,virginica,7.7,3.0,6.1,2.3,0,1
136,virginica,6.3,3.4,5.6,2.4,0,1
137,virginica,6.4,3.1,5.5,1.8,0,1
138,virginica,6.0,3.0,4.8,1.8,0,1
139,virginica,6.9,3.1,5.4,2.1,0,1
140,virginica,6.7,3.1,5.6,2.4,0,1
141,virginica,6.9,3.1,5.1,2.3,0,1
142,virginica,5.8,2.7,5.1,1.9,0,1
143,virginica,6.8,3.2,5.9,2.3,0,1
144,virginica,6.7,3.3,5.7,2.5,0,1
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

In [ ]:
# Using the Titanic dataset

# Use the function defined in acquire.py to load the Titanic data.

# Drop any unnecessary, unhelpful, or duplicated columns.

# Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

# Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above 
# applied.

In [ ]:
# Using the Telco dataset

# Use the function defined in acquire.py to load the Telco data.

# Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

# Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

# Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.